<br/>
<div class="card" style="width: 60rem;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 d-flex bg-success p-5">
                <h1 class="mx-auto align-self-center"><i class="fa fa-2x fa-tree"></i></h1>
            </div>
            <div class="col-md-8 py-3">
                <h3 class="card-title">Choose Theme</h3>
                <div class="card-text">
                    <a *ngFor="let theme of themeNames" class="list-group-item" (click)="setTheme(theme); $event.preventDefault();" href style="cursor: pointer;" [ngClass]="{ 'active': currentTheme == theme }">
                        {{theme}}
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<i class="material-icons fontwatermarkright">settings</i>