<div class="footer mdc-bg-grey-700  mdc-text-grey-200" [ngClass]="{'footer-web':!isElectronApp, 'footer-electron': isElectronApp }">`

    <!--  -->
    <div *ngIf="isElectronApp; then electronfooter else webfooter"></div>
    <ng-template #electronfooter>
        <div class="row">
            <div class="col-6">
                <div class="row justify-content-start">
                    <div class="col-3">
                        <npm-badge [badgelabel]="'Version'" [badgevalue]="appVersion" [isElectronApp]="isElectronApp" [badgeclass]="'primary'">
                        </npm-badge>
                    </div>
                    <div class="col-3">
                        <network-notifier></network-notifier>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row  justify-content-end text-right">
                    <div class="col-2">
                        <clock [format]="'MM/dd/yyyy h:mm:ss'" class="mdc-text-grey-200"></clock>
                    </div>
                    <div class="col-4">
                        <!-- <npm-badge [badgelabel]="'DB'" [badgevalue]="syncText" [badgeclass]="(syncText === 'Offline')?'danger': (syncText === 'Synchronized')? 'success':'warning'">
                        </npm-badge>
                     -->
                        <b><p>{{ syncText }}</p></b>
                    </div>
                </div>
            </div>

        </div>
    </ng-template>

    <ng-template #webfooter>
        <div class="row">
            <div class="col-4 align-self-start">
                <npm-badge [badgelabel]="'Version'" [badgevalue]="appVersion" [isElectronApp]="isElectronApp" [badgeclass]="'primary'">
                </npm-badge>
            </div>

            <div class="col-4 align-self-center pull-3">
                <p>Copyright <i class="material-icons md-18">copyright</i> {{copyrightyear}} {{copyright}}</p>
            </div>
            <div class="col align-self-end">
                <db-sync-indicator [dbName]="'Citation'" [serverUp]="couchDbUpCit" [syncStatus]="syncStatusCit"></db-sync-indicator>
            </div>
        </div>
    </ng-template>
</div>