<div class="footer fixed-bottom  navbar-light mdc-bg-grey-300" [ngClass]="{' footer-web': !isElectronApp}">

  <div *ngIf="isElectronApp; then electronfooter else webfooter"></div>
  <ng-template #electronfooter>
    <div class="row" style="padding-left:1%">
      <div class="col-xs-1">
        <img src="./images/electron.png" style="height:25px;" />
      </div>
      <div class="col-xs-3 pull-right">
          <npm-badge  [badgelabel]="'Version'" 
                      [badgevalue]="appVersion" 
                      [isElectronApp]="isElectronApp" 
                      [badgeclass]="'primary'">
          </npm-badge>
      </div>
      <div class="col-xs-3">
           <clock [format]="'MM/dd/yyyy h:mm:ss'" class="mdc-text-grey-800"></clock>
      </div>
      <div class="col-xs-3">
        <network-notifier></network-notifier>
      </div>
    </div>
  </ng-template>

  <ng-template #webfooter>
    <div class="row" style="padding-left:1%">
      <div class="col-xs-1">
        <img src="./images/web.png" style="height:25px;" />
      </div>
      <div class="col-xs-3 pull-right">
          <npm-badge  [badgelabel]="'Version'" 
                      [badgevalue]="appVersion" 
                      [isElectronApp]="isElectronApp" 
                      [badgeclass]="'primary'">
          </npm-badge>
      </div>
      <div class="col-xs-9">
         <p>Copyright <span class="fa fa-copyright"></span> {{copyrightyear}} {{copyright}}</p>
      </div>
    </div>
  </ng-template>

</div>
