.footer-web {
    /* Set the fixed height of the footer here */
    height: 45px;
    min-height: 45px;
    font-size: medium;
}

.footer {
    height: 30px;
    min-height: 30px;
    font-size: small;
}