form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    justify-content: space-between;
    align-items: stretch;

    margin-left: 20px;
}

form form-textbox {
    flex-grow: 1;
    padding: 10px;
}

/*
.form-group {
    flex-wrap: nowrap;
    flex: 1 auto;
}
*/