<child-navbar [hrclass]="'hr-primary'" [textheader]="'Reference Data Manager'" [btnclass]="'btn-outline-info'" [textclass]="'text-info'" [routerLink]="['/layout/home']">
</child-navbar>
{{couchDbUp}} - {{syncStatus}}
<div style="padding-bottom: 50px" id="refData">
    <accordion class="col-12 card" [ngBusy]="busyRefData">
        <accordion-group class="card-block" *ngFor="let table of referenceData" [heading]="table.name">
            <ngx-datatable class='material' [rows]="table.rows" [columns]="table.columns" [scrollbarV]="true" [footerHeight]="30"></ngx-datatable>
        </accordion-group>
    </accordion>
</div>