/* Form styling */

form .form-group {
    padding: 10px;
}

.form-group .control-label {
    padding: 0px 0px 0px 10px;
}


/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/google-md-icon/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/google-md-icon/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/google-md-icon/MaterialIcons-Regular.woff) format('woff'), url(../fonts/google-md-icon/MaterialIcons-Regular.ttf) format('truetype');
}


/* Rules for sizing the icon. */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}


/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/roboto/Roboto-Regular.woff") format("opentype");
}

@font-face {
    font-family: RobotoLight;
    src: url("../fonts/roboto/Roboto-Light.woff") format("opentype");
}

@font-face {
    font-family: RobotoThin;
    src: url("../fonts/roboto/Roboto-Thin.woff") format("opentype");
}

@font-face {
    font-family: Quicksand;
    src: url("../fonts/quicksand/quicksand-regular.otf") format("opentype");
}

@font-face {
    font-family: QuicksandLight;
    src: url("../fonts/quicksand/quicksand-light.otf") format("opentype");
}

html {
    font-size: 15px;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
}

.Quicksand {
    font-family: Quicksand;
}

.Roboto {
    font-family: Roboto;
}

.RobotoLight {
    font-family: RobotoLight;
}

.RobotoThin {
    font-family: RobotoThin;
}


/*  TINY NAVBAR */


/* CSS used here will be applied after bootstrap.css */


/* Create a medium height at 40px */

.navbar {
    padding: 0rem 0rem
}

.navbar-web {
    min-height: 45px;
    height: 45px;
    padding: 0px 15px 0px 15px;
    margin: 0px;
    line-height: 32px;
}

.navbar-xs.tiny-navbar {
    min-height: 32px;
    height: 32px;
    padding: 0px 15px 0px 15px;
    margin: 0px;
    line-height: 32px;
}

.navbar-xs.tiny-navbar .navbar-brand {
    padding: 0px 12px;
    font-size: 16px;
    line-height: 32px;
}

.navbar-xs.tiny-navbar .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 32px;
}


/* Validation styles */

.validationMessage {
    color: red;
    font-size: 12px;
}

input.ng-invalid.ng-dirty {
    border-color: red;
}

.tiny-navbar {
    z-index: 1200;
}

@media only screen and (min-width: 2000px) {
    .navbar-xs.tiny-navbar {
        min-height: auto;
        height: 2.0vw;
        font-size: 1.2vw;
        padding: 0px 15px 0px 15px;
        margin: 0px;
        line-height: 2.0vw;
    }
    .navbar-xs.tiny-navbar .navbar-brand {
        padding: 0px 12px;
        font-size: 1.2vw;
        line-height: 2.0vw;
    }
    .navbar-xs.tiny-navbar .navbar-nav>li>a {
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 2.0vw;
    }
}


/* END: TINY NAVBAR */


/* Bootstrap 3 Label */

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

a.label:hover,
a.label:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.label:empty {
    display: none;
}

.btn .label {
    position: relative;
    top: -1px;
}

.label-default {
    background-color: #777;
}

.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #5e5e5e;
}

.label-primary {
    background-color: #337ab7;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #286090;
}

.label-success {
    background-color: #5cb85c;
}

.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #449d44;
}

.label-info {
    background-color: #5bc0de;
}

.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #31b0d5;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #ec971f;
}

.label-danger {
    background-color: #d9534f;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #c9302c;
}


/* END: Bootstrap 3 Label */


/* BS Loader */

#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}

#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}

#loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;
}

#loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 87.5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running load;
    background: #00ff80 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running load;
    background: #00ffea none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running load;
    background: #00aaff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running load;
    background: #0040ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running load;
    background: #2a00ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running load;
    background: #9500ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    background: magenta none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    background: #ff0095 none repeat scroll 0 0;
}

#loader .lading {
    /* background-image: url("../images/loading.gif"); */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
}

@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}


/* END: BS Loader */


/* Boostrap input-group-xs */

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 6px 9px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-xs,
.btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-yellow {
    background: rgb(250, 255, 140);
    color: #574500;
    border: none;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    /* !important tags aren't necessarily always bad */
}

.btn-yellow:hover,
.btn-yellow:focus {
    background: rgb(252, 255, 179);
}

.btn-yellow:active {
    background: rgb(247, 255, 71);
}


/* END: Boostrap input-group-xs */


/* Font Watermark */

.fontwatermark {
    font-size: 200px;
    left: -80px;
    bottom: 10%;
    position: fixed;
    opacity: 0.25;
    color: lightgray
    /*color:transparent;*/
}

.fontwatermarkright {
    float: right;
    font-size: 250px;
    right: -40px;
    bottom: 10%;
    position: fixed;
    opacity: 0.25;
    color: lightgray
    /*color:transparent;*/
}


/* END: Font Watermark */


/* PretyJson Start */

pre span {
    white-space: normal;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}


/* End: Pretty Json */


/* No Gutter Bootstrap Column for no padding */

.no-gutter>[class*='col-'] {
    padding: 0 0 0 0;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}


/* End: No gutter */


/* Bootstrap 3 Tab Styles */

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav>li {
    position: relative;
    display: block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #eee;
}

.nav>li.disabled>a {
    color: #777;
}

.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: #eee;
    border-color: #337ab7;
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.nav>li>a>img {
    max-width: none;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}

.nav-tabs.nav-justified>li {
    float: none;
}

.nav-tabs.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center;
}

.nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified>li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified>li>a {
        margin-bottom: 0;
    }
}

.nav-tabs.nav-justified>li>a {
    margin-right: 0;
    border-radius: 4px;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
    border: 1px solid #ddd;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified>li>a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified>.active>a,
    .nav-tabs.nav-justified>.active>a:hover,
    .nav-tabs.nav-justified>.active>a:focus {
        border-bottom-color: #fff;
    }
}

.nav-pills>li {
    float: left;
}

.nav-pills>li>a {
    border-radius: 4px;
}

.nav-pills>li+li {
    margin-left: 2px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #337ab7;
}

.nav-stacked>li {
    float: none;
}

.nav-stacked>li+li {
    margin-top: 2px;
    margin-left: 0;
}

.nav-justified {
    width: 100%;
}

.nav-justified>li {
    float: none;
}

.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center;
}

.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

@media (min-width: 768px) {
    .nav-justified>li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified>li>a {
        margin-bottom: 0;
    }
}

.nav-tabs-justified {
    border-bottom: 0;
}

.nav-tabs-justified>li>a {
    margin-right: 0;
    border-radius: 4px;
}

.nav-tabs-justified>.active>a,
.nav-tabs-justified>.active>a:hover,
.nav-tabs-justified>.active>a:focus {
    border: 1px solid #ddd;
}

@media (min-width: 768px) {
    .nav-tabs-justified>li>a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified>.active>a,
    .nav-tabs-justified>.active>a:hover,
    .nav-tabs-justified>.active>a:focus {
        border-bottom-color: #fff;
    }
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-sidebar {
    position: fixed;
    /*top: 32px;*/
    left: 0;
    height: 100%;
    width: 55px;
    /*background-color: #373a3c;*/
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
}

.navbar-sidebar .nav-stacked .nav-item+.nav-item {
    margin-top: 0px;
}

.navbar-sidebar .hint--info:before {
    padding-left: 10px !important;
}

.navbar-sidebar .hint--info:after {
    margin-left: 10px !important;
}

.navbar-sidebar .nav-item:first-of-type {
    /* border-top: 1px solid lightgray; */
}

.navbar-sidebar .nav-item {
    vertical-align: middle;
    padding: 5px 5px 5px 5px;
    /* border-bottom: 1px solid lightgray; */
}

.navbar-sidebar .nav-item:hover {
    background-color: lightgray;
}

.navbar-sidebar a.nav-link {
    padding: 5px 5px 5px 5px;
    text-align: center;
}


/* .card {
    -webkit-box-shadow: 0px 2px 2px #aaa;
    -moz-box-shadow: 0px 2px 2px #aaa;
    box-shadow: 0px 2px 2px #aaa;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


card:hover,
.card-topimage:hover {
    box-shadow: 0px 10px 10px #aaa;
} */


/* END: bootstrap 3 tab styles, which are not in BS4 */


/* Notice / Alert Style 
https://bootsnipp.com/snippets/featured/simple-card-alerts  
*/

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
}

.notice-sm {
    padding: 10px;
    font-size: 80%;
}

.notice-lg {
    padding: 35px;
    font-size: large;
}

.notice-success {
    border-color: #80D651;
}

.notice-success>strong {
    color: #80D651;
}

.notice-info {
    border-color: #45ABCD;
}

.notice-info>strong {
    color: #45ABCD;
}

.notice-warning {
    border-color: #FEAF20;
}

.notice-warning>strong {
    color: #FEAF20;
}

.notice-danger {
    border-color: #d73814;
}

.notice-danger>strong {
    color: #d73814;
}


/* END: Notice Alert style from bootsnipp.com*/


/* imagecard from Bootsnipp */

.imagecard {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}

.imagecard .fa {
    position: relative;
    font-size: 70px;
}

.imagecard-topimage_header {
    padding: 20px;
}

a.imagecard:hover,
.imagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.imagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}

.imagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}

.imagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}


/* END: ImageCard from Bootsnipp */


/* CSS Data Loader for NGBusy  */

.cssload-container {
    position: relative;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgb(204, 204, 204);
    border-left-color: rgb(0, 0, 0);
    border-radius: 974px;
    -o-border-radius: 974px;
    -ms-border-radius: 974px;
    -webkit-border-radius: 974px;
    -moz-border-radius: 974px;
}

.cssload-whirlpool {
    margin: -24px 0 0 -24px;
    height: 49px;
    width: 49px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
    content: "";
    margin: -22px 0 0 -22px;
    height: 43px;
    width: 43px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
    content: "";
    margin: -28px 0 0 -28px;
    height: 55px;
    width: 55px;
    animation: cssload-rotate 2300ms linear infinite;
    -o-animation: cssload-rotate 2300ms linear infinite;
    -ms-animation: cssload-rotate 2300ms linear infinite;
    -webkit-animation: cssload-rotate 2300ms linear infinite;
    -moz-animation: cssload-rotate 2300ms linear infinite;
}

@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}


/* END: Loader for ngBusy  */


/* ALert with color card : https://bootsnipp.com/snippets/featured/a-different-approach-to-bootstrap-alert*/

.error-notice {
    margin: 5px 5px;
    /* Making sure to keep some distance from all side */
}

.oaerror {
    width: 90%;
    /* Configure it fit in your design  */
    margin: 0 auto;
    /* Centering Stuff */
    background-color: #FFFFFF;
    /* Default background */
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.danger {
    border-left-color: #d9534f;
    /* Left side border color */
    background-color: rgba(217, 83, 79, 0.1);
    /* Same color as the left border with reduced alpha to 0.1 */
}

.danger strong {
    color: #d9534f;
}

.warning {
    border-left-color: #f0ad4e;
    background-color: rgba(240, 173, 78, 0.1);
}

.warning strong {
    color: #f0ad4e;
}

.info {
    border-left-color: #5bc0de;
    background-color: rgba(91, 192, 222, 0.1);
}

.info strong {
    color: #5bc0de;
}

.success {
    border-left-color: #2b542c;
    background-color: rgba(43, 84, 44, 0.1);
}

.success strong {
    color: #2b542c;
}


/* END : alert with color cards */


/* color Hr */

hr {
    height: 4px;
    margin-left: 15px;
    margin-bottom: -3px;
}

.hr-warning {
    background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, .8), rgba(210, 105, 30, .6), rgba(0, 0, 0, 0));
}

.hr-success {
    background-image: -webkit-linear-gradient(left, rgba(15, 157, 88, .8), rgba(15, 157, 88, .6), rgba(0, 0, 0, 0));
}

.hr-primary {
    background-image: -webkit-linear-gradient(left, rgba(66, 133, 244, .8), rgba(66, 133, 244, .6), rgba(0, 0, 0, 0));
}

.hr-danger {
    background-image: -webkit-linear-gradient(left, rgba(244, 67, 54, .8), rgba(244, 67, 54, .6), rgba(0, 0, 0, 0));
}


/* End: Color hr */


/* Circle Button - http://bootsnipp.com/snippets/featured/circle-button*/

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-md {
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 1.33;
    border-radius: 20px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}


/* END: Circle button */


/*
    component: Boxes
-------------------------
*/

.box {
    position: relative;
    /* background: #ffffff; */
    border-top: 2px solid #c1c1c1;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.box.box-primary {
    border-top-color: #3c8dbc;
}

.box.box-info {
    border-top-color: #00c0ef;
}

.box.box-danger {
    border-top-color: #f56954;
}

.box.box-warning {
    border-top-color: #f39c12;
}

.box.box-success {
    border-top-color: #00a65a;
}

.box.box-pristine {
    border-top-color: #795548;
}

.box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
}

.box .box-header {
    position: relative;
    padding-left: 10px;
    padding-top: 5px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0px solid #f4f4f4;
    color: #444;
    padding-bottom: 10px;
}

.box .box-header:before,
.box .box-header:after {
    display: table;
    content: " ";
}

.box .box-header:after {
    clear: both;
}

.box .box-header>.fa,
.box .box-header>.glyphicon,
.box .box-header>.ion,
.box .box-header .box-title {
    display: inline-block;
    padding: 10px 0px 10px 10px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    float: left;
    cursor: default;
}

.box .box-header a {
    color: #444;
}

.box .box-header>.box-tools {
    padding: 5px 10px 5px 5px;
}

.box .box-body {
    padding: 10px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.box .box-body>table,
.box .box-body>.table {
    margin-bottom: 0;
}

.box .box-body.chart-responsive {
    width: 100%;
    overflow: hidden;
}

.box .box-body>.chart {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.box .box-body>.chart svg,
.box .box-body>.chart canvas {
    width: 100%!important;
}

.box .box-body .fc {
    margin-top: 5px;
}

.box .box-body .fc-header-title h2 {
    font-size: 15px;
    line-height: 1.6em;
    color: #666;
    margin-left: 10px;
}

.box .box-body .fc-header-right {
    padding-right: 10px;
}

.box .box-body .fc-header-left {
    padding-left: 10px;
}

.box .box-body .fc-widget-header {
    background: #fafafa;
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.02);
}

.box .box-body .fc-grid {
    width: 100%;
    border: 0;
}

.box .box-body .fc-widget-header:first-of-type,
.box .box-body .fc-widget-content:first-of-type {
    border-left: 0;
    border-right: 0;
}

.box .box-body .fc-widget-header:last-of-type,
.box .box-body .fc-widget-content:last-of-type {
    border-right: 0;
}

.box .box-body .table {
    margin-bottom: 0;
}

.box .box-body .full-width-chart {
    margin: -19px;
}

.box .box-body.no-padding .full-width-chart {
    margin: -9px;
}

.box .box-footer {
    border-top: 1px solid #f4f4f4;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    background-color: #ffffff;
}

.box.box-solid {
    border-top: 0px;
}

.box.box-solid>.box-header {
    padding-bottom: 0px!important;
}

.box.box-solid>.box-header .btn.btn-default {
    background: transparent;
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #3c8dbc;
    background-color: #3c8dbc;
}

.box.box-solid.box-primary>.box-header a {
    color: #444;
}

.box.box-solid.box-info>.box-header {
    color: #fff;
    background: #00c0ef;
    background-color: #00c0ef;
}

.box.box-solid.box-info>.box-header a {
    color: #444;
}

.box.box-solid.box-danger>.box-header {
    color: #fff;
    background: #f56954;
    background-color: #f56954;
}

.box.box-solid.box-danger>.box-header a {
    color: #444;
}

.box.box-solid.box-warning>.box-header {
    color: #fff;
    background: #f39c12;
    background-color: #f39c12;
}

.box.box-solid.box-warning>.box-header a {
    color: #444;
}

.box.box-solid.box-success>.box-header {
    color: #fff;
    background: #00a65a;
    background-color: #00a65a;
}

.box.box-solid.box-success>.box-header a {
    color: #444;
}

.box.box-solid>.box-header>.box-tools>.btn {
    border: 0;
    box-shadow: none;
}

.box.box-solid.collapsed-box .box-header {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.box.box-solid[class*='bg']>.box-header {
    color: #fff;
}

.box .box-group>.box {
    margin-bottom: 5px;
}

.box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
}

.box .todo-list {
    margin: 0;
    padding: 0px 0px;
    list-style: none;
}

.box .todo-list>li {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px;
    background: #f3f4f5;
    margin-bottom: 2px;
    border-left: 2px solid #e6e7e8;
    color: #444;
}

.box .todo-list>li:last-of-type {
    margin-bottom: 0;
}

.box .todo-list>li.danger {
    border-left-color: #f56954;
}

.box .todo-list>li.warning {
    border-left-color: #f39c12;
}

.box .todo-list>li.info {
    border-left-color: #00c0ef;
}

.box .todo-list>li.success {
    border-left-color: #00a65a;
}

.box .todo-list>li.primary {
    border-left-color: #3c8dbc;
}

.box .todo-list>li>input[type='checkbox'] {
    margin: 0 10px 0 5px;
}

.box .todo-list>li .text {
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}

.box .todo-list>li .label {
    margin-left: 10px;
    font-size: 9px;
}

.box .todo-list>li .tools {
    display: none;
    float: right;
    color: #f56954;
}

.box .todo-list>li .tools>.fa,
.box .todo-list>li .tools>.glyphicon,
.box .todo-list>li .tools>.ion {
    margin-right: 5px;
    cursor: pointer;
}

.box .todo-list>li:hover .tools {
    display: inline-block;
}

.box .todo-list>li.done {
    color: #999;
}

.box .todo-list>li.done .text {
    text-decoration: line-through;
    font-weight: 500;
}

.box .todo-list>li.done .label {
    background: #eaeaec !important;
}

.box .todo-list .handle {
    display: inline-block;
    cursor: move;
    margin: 0 5px;
}

.box .chat {
    padding: 5px 20px 5px 10px;
}

.box .chat .item {
    margin-bottom: 10px;
}

.box .chat .item:before,
.box .chat .item:after {
    display: table;
    content: " ";
}

.box .chat .item:after {
    clear: both;
}

.box .chat .item>img {
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.box .chat .item>img.online {
    border: 2px solid #00a65a;
}

.box .chat .item>img.offline {
    border: 2px solid #f56954;
}

.box .chat .item>.message {
    margin-left: 55px;
    margin-top: -40px;
}

.box .chat .item>.message>.name {
    display: block;
    font-weight: 600;
}

.box .chat .item>.attachment {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f0f0f0;
    margin-left: 65px;
    margin-right: 15px;
    padding: 10px;
}

.box .chat .item>.attachment>h4 {
    margin: 0 0 5px 0;
    font-weight: 600;
    font-size: 14px;
}

.box .chat .item>.attachment>p,
.box .chat .item>.attachment>.filename {
    font-weight: 600;
    font-size: 13px;
    font-style: italic;
    margin: 0;
}

.box .chat .item>.attachment:before,
.box .chat .item>.attachment:after {
    display: table;
    content: " ";
}

.box .chat .item>.attachment:after {
    clear: both;
}

.box>.overlay,
.box>.loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box>.overlay {
    z-index: 1010;
    background: rgba(255, 255, 255, 0.7);
}

.box>.overlay.dark {
    background: rgba(0, 0, 0, 0.5);
}

.box>.loading-img {
    z-index: 1020;
    background: transparent url('../images/ajax-loader1.gif') 50% 50% no-repeat;
}


/* END:AdminLTE Box style */


/* AdminLTE: App Button */

.btn.btn-app {
    position: relative;
    padding: 15px 5px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    height: 60px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #fafafa;
    font-size: 12px;
}

.btn.btn-app>.fa,
.btn.btn-app>.glyphicon,
.btn.btn-app>.ion {
    font-size: 20px;
    display: block;
}

.btn.btn-app:hover {
    background: #f4f4f4;
    color: #444;
    border-color: #aaa;
}

.btn.btn-app:active,
.btn.btn-app:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.btn-app>.badge {
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400;
}


/* End:AdminLTE app button */


/* AdminLTE SmallBox */


/*
    Component: Small boxes
*/

.small-box {
    position: relative;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 15px;
}

.small-box>.inner {
    padding: 10px;
}

.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.small-box>.small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.small-box p {
    font-size: 15px;
}

.small-box p>small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px;
}

.small-box h3,
.small-box p {
    z-index: 5px;
}

.small-box .icon {
    position: absolute;
    top: auto;
    bottom: 2px;
    right: 5px;
    z-index: 0;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.15);
}

.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}

.small-box:hover .icon {
    animation-name: tansformAnimation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: tansformAnimation;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: tansformAnimation;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}

@keyframes tansformAnimation {
    from {
        font-size: 70px;
    }
    to {
        font-size: 80px;
    }
}

@-webkit-keyframes tansformAnimation {
    from {
        font-size: 90px;
    }
    to {
        font-size: 100px;
    }
}

@media screen and (max-width: 480px) {
    .small-box {
        text-align: center;
    }
    .small-box .icon {
        display: none;
    }
    .small-box p {
        font-size: 12px;
    }
}


/* End AdminLTE Smallbox */

.error {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: small;
    text-transform: uppercase;
}


/* Tab coloring for forms */

.nav-item.OverloadCitation {
    background-color: violet;
}

.nav-item.ViolationNotice {
    background-color: lightgreen;
}