/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto/Roboto-Regular.woff") format("opentype");
}

@font-face {
  font-family: RobotoLight;
  src: url("../fonts/roboto/Roboto-Light.woff") format("opentype");
}

@font-face {
  font-family: RobotoThin;
  src: url("../fonts/roboto/Roboto-Thin.woff") format("opentype");
}

@font-face {
  font-family: Quicksand;
  src: url("../fonts/quicksand/quicksand-regular.otf") format("opentype");
}

@font-face {
  font-family: QuicksandLight;
  src: url("../fonts/quicksand/quicksand-light.otf") format("opentype");
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

.Quicksand {
  font-family: Quicksand;
}

.Roboto {
  font-family: Roboto;
}

.RobotoLight {
  font-family: RobotoLight;
}

.RobotoThin {
  font-family: RobotoThin;
}

/*  TINY NAVBAR */

/* CSS used here will be applied after bootstrap.css */

/* Create a medium height at 40px */
.navbar-xs.tiny-navbar {
  min-height:32px;
  height: 32px;
  padding: 0px 15px 0px 15px; margin: 0px; line-height: 32px;
}
.navbar-xs.tiny-navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 32px; }
.navbar-xs.tiny-navbar .navbar-nav > li > a {
  padding-top: 0px; padding-bottom: 0px; line-height: 32px;
}
/* Validation styles */
.validationMessage {
    color: red;
    font-size: 12px;
}

input.ng-invalid.ng-dirty {
    border-color: red;
}

.tiny-navbar {
  z-index: 1200;
}

@media only screen and (min-width : 2000px) {
  .navbar-xs.tiny-navbar {
    min-height: auto;
    height: 2.0vw;
    font-size: 1.2vw;
    padding: 0px 15px 0px 15px; margin: 0px; line-height: 2.0vw;
  }
  .navbar-xs.tiny-navbar .navbar-brand{ padding: 0px 12px;font-size: 1.2vw;line-height: 2.0vw; }
  .navbar-xs.tiny-navbar .navbar-nav > li > a {
    padding-top: 0px; padding-bottom: 0px; line-height: 2.0vw;
  }
}

/* END: TINY NAVBAR */


/* Bootstrap 3 Label */

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
/* END: Bootstrap 3 Label */