/* .container-electron {
    padding-top: 0px;
    padding-bottom: 25px;
}

.container-web {
    padding-top: 0px;
    padding-bottom: 55px;
} */

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh
}

.content {
    width: 100%;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
}