<my-tabs>
    <my-tab [tabTitle]="" [icon]="'dashboard'">
        <dashboard (addUserDetail)="onAddUserDetail()" (addOverloadCitation)="onAddOverloadCitation()" (addViolationNotice)="onAddViolationNotice()">
        </dashboard>
    </my-tab>
    <ng-template #overloadCitation>
        <overload-citation></overload-citation>
    </ng-template>

    <ng-template #violationNotice>
        <violation-notice></violation-notice>
    </ng-template>

    <ng-template #userDetail>
        <user-detail></user-detail>
    </ng-template>
</my-tabs>