<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class=" mdc-text-blue-500"><i class="material-icons md-32">dashboard</i> Welcome</h2>
        </div>
        <div class="col">Analytics data will be here</div>
    </div>
    <div class="row">
        <div class="col col-md-6 col-lg-4">
            <div class="card text-white bg-info mb-3" style="cursor:pointer" (click)="goto('userdetail')">
                <div class="card-body">
                    <h5 class="card-title">User Detail Form</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-primary mb-3" style="cursor:pointer" (click)="goto('overloadcitation')">
                <div class="card-body">
                    <h5 class="card-title">Overload Citation</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-success mb-3" style="cursor:pointer" (click)="goto('violationnotice')">
                <div class="card-body">
                    <h5 class="card-title">Violation Notice</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>

        <div class="col col-md-6 col-lg-4">
            <div class="card mb-2 ">
                <div class="card-body row text-left ">
                    <div class="p-3  w-25">
                        <h1 class="text-warning "><i class="fa fa-2x fa-folder-open-o "></i></h1>
                    </div>
                    <div class="p-3  w-50 h-100">
                        <h5>Open local &amp; server documents</h5>
                        <p> Open local documents &amp; transferred documents.</p>
                    </div>
                    <div class="p-3 w-25">
                        <button type="button" class="btn btn-outline-warning">Open </button>
                    </div>
                </div>
            </div>
            <div class="card mb-2 ">
                <div class="card-body row text-left ">
                    <div class="p-3  w-25">
                        <h1 class="text-primary "><i class="fa fa-2x fa-database "></i></h1>
                    </div>
                    <div class="p-3  w-50 h-100">
                        <h5>Reference data manager</h5>
                        <p> View reference or list data used for the system.</p>
                    </div>
                    <div class="p-3 w-25">
                        <button type="button" (click)="goto('datamanager')" class="btn btn-outline-primary">Open </button>
                    </div>
                </div>
            </div>
            <div class="card mb-2 ">
                <div class="card-body text-left row ">
                    <div class="p-3 w-25">
                        <h1 class="text-success "><i class="fa fa-2x fa-cogs "></i></h1>
                    </div>
                    <div class="p-3 w-50">
                        <h5>Settings &amp; configurations</h5>
                        <p> General system settings including themes, release notes, shortcuts etc. </p>
                    </div>
                    <div class="p-3 w-25">
                        <button (click)="goto('settings')" class="btn btn-outline-success">Open </button>
                    </div>
                </div>
            </div>
            <div class="card mb-2 ">
                <div class="card-body row text-left ">
                    <div class="p-3 w-25">
                        <h1 class="text-info "><i class="fa fa-2x fa-heartbeat "></i></h1>
                    </div>
                    <div class="p-3 w-50">
                        <h5>System diagnotics</h5>
                        <p> Diagnotics tools and analysis for system debug and supports. </p>
                    </div>
                    <div class="p-3 w-25">
                        <button type="button" (click)="goto('diagnotics')" class="btn btn-outline-info">Open </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 hidden-lg-down">
            <div style="display: block w-12 h-12">
                <canvas baseChart [data]="doughnutChartData " [labels]="doughnutChartLabels " [chartType]="doughnutChartType " (chartHover)="chartHovered($event) " (chartClick)="chartClicked($event) "></canvas>
            </div>
        </div>
    </div>
</div>

<i class="material-icons fontwatermarkright">dashboard</i>