<div>
    <tabset>
        <tab>
            <ng-template tabHeading>
                <span class="hint--bottom hint--success" data-hint="General Settings">
                    <i class="material-icons md-48 mdc-text-green-600">settings</i>
                </span>
            </ng-template>
            <app-general></app-general>
        </tab>
        <tab>
            <ng-template tabHeading>
                <span class="hint--bottom hint--warning" data-hint="Keyboard Shortcuts">
                    <i class="material-icons md-48 mdc-text-orange-600">keyboard</i>
                </span>
            </ng-template>
            <app-shortcuts></app-shortcuts>
        </tab>
        <tab>
            <ng-template tabHeading>
                <span class="hint--bottom hint--info" data-hint="ReleaseNotes">
                    <i class="material-icons md-48 mdc-text-blue-600">list</i>
                </span>
            </ng-template>
            <app-releasenotes></app-releasenotes>
        </tab>
        <tab>
            <ng-template tabHeading>
                <span class="hint--bottom hint--error" data-hint="About">
                    <i class="material-icons md-48 mdc-text-red-600">info_outline</i>
                </span>
            </ng-template>
            <app-about></app-about>
        </tab>
    </tabset>
</div>